#dog-pic {
    
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
}

body {
   background-color: darkgray;
}


#first-form {
    text-align: center;
   
  }


  #select-breed {
    width: 20rem;
    border-radius: 8px;
    margin-top: 10px;
  }


  button {
    width: 10rem;
    margin-top: 15px;
  }

  h1 {
    text-align: center;
    margin-top: 10rem;
    font-style: italic;
    color: brown;
    font-size: 60px;
  }