#dog-pic {
    
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
}

body {
    background: url(https://wallpapershome.com/images/pages/pic_h/1533.jpg);
}


#first-form {
    text-align: center;
    padding: 20px;
    margin: 0px 20rem;
    background: #fff7;
    border-radius: 50px;
    margin-top: 10rem;
    
  }


  #select-breed {
    width: 20rem;
    border-radius: 8px;
    margin-top: 10px;
  }


  button {
    width: 10rem;
    margin-top: 15px;
  }

  h1 {
    text-align: center;
    font-style: italic;
    font-size: 4rem;
    text-shadow: 2px 2px crimson;
    color: darksalmon;
  }